interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.smwcentral.net/ajax.php?a=getsectionlist&s=smwhacks&n=1&o=date&d=desc&u=0
  response:
    body:
      string: '{"total":2751,"per_page":50,"current_page":1,"last_page":56,"first_page_url":"https:\/\/www.smwcentral.net\/ajax.php?a=getsectionlist&s=smwhacks&u=0&n=1&o=date&d=desc","last_page_url":"https:\/\/www.smwcentral.net\/ajax.php?a=getsectionlist&s=smwhacks&u=0&n=56&o=date&d=desc","next_page_url":"https:\/\/www.smwcentral.net\/ajax.php?a=getsectionlist&s=smwhacks&u=0&n=2&o=date&d=desc","prev_page_url":null,"from":1,"to":50,"data":[{"id":42737,"section":"smwhacks","name":"Super
        Mario World Ridley X Hack 2 Super 8-Bit","time":1785601636,"submitted_at":1784969599,"moderated_at":1785601636,"moderated":true,"authors":[{"id":74207,"name":"Ridley
        X"}],"submitter":null,"moderator":{"id":46966,"name":"Stucat"},"tags":["8-bit","nes","original
        music"],"images":["https:\/\/dl.smwcentral.net\/image\/125578.png","https:\/\/dl.smwcentral.net\/image\/125579.png","https:\/\/dl.smwcentral.net\/image\/125580.png","https:\/\/dl.smwcentral.net\/image\/125581.png","https:\/\/dl.smwcentral.net\/image\/125582.png","https:\/\/dl.smwcentral.net\/image\/125583.png","https:\/\/dl.smwcentral.net\/image\/125584.png","https:\/\/dl.smwcentral.net\/image\/125585.png","https:\/\/dl.smwcentral.net\/image\/125586.png","https:\/\/dl.smwcentral.net\/image\/125587.png","https:\/\/dl.smwcentral.net\/image\/125588.png","https:\/\/dl.smwcentral.net\/image\/125589.png","https:\/\/dl.smwcentral.net\/image\/125590.png","https:\/\/dl.smwcentral.net\/image\/125591.png","https:\/\/dl.smwcentral.net\/image\/125592.png","https:\/\/dl.smwcentral.net\/image\/125593.png","https:\/\/dl.smwcentral.net\/image\/125594.png"],"rating":0,"size":165489,"downloads":306,"download_url":"https:\/\/dl.smwcentral.net\/42737\/smw%20ridleyx%20hack2%20v1.0.zip","obsoleted_by":null,"fields":{"version":"","changelog":"","difficulty":"Intermediate","type":"Standard","length":"53
        exit(s)","hof":"No","demo":"No","collab":"No","sa1":"No","warnings":"","description":"Here
        is complete game hack for Super Mario World.<br>\r\nWendy O. Koopa has taken
        over the land.<br>\r\nDefeat her and free the land!<br>\r\nThe graphics are
        based on the 8-bit NES.<br>\r\nSome minor ASM has been added. <br>\r\notherwise,
        it is vanilla."},"raw_fields":{"version":"","changelog":"","difficulty":"diff_3","type":["standard"],"length":53,"hof":false,"demo":false,"collab":false,"sa1":false,"warnings":[],"description":"Here
        is complete game hack for Super Mario World.\r\nWendy O. Koopa has taken over
        the land.\r\nDefeat her and free the land!\r\nThe graphics are based on the
        8-bit NES.\r\nSome minor ASM has been added. \r\notherwise, it is vanilla."}},{"id":42755,"section":"smwhacks","name":"Gransys","time":1785535655,"submit[...]
