interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.smwcentral.net/ajax.php?a=getfile&v=2&id=42415
  response:
    body:
      string: '{"id":42415,"section":"smwhacks","name":"Super Alex Demo","time":1779976938,"submitted_at":1779632214,"moderated_at":1779976938,"moderated":true,"authors":[{"id":74990,"name":"Ding_Dong"}],"submitter":null,"moderator":{"id":22633,"name":"Lazy"},"tags":[],"images":["https:\/\/dl.smwcentral.net\/image\/123970.png","https:\/\/dl.smwcentral.net\/image\/123971.png","https:\/\/dl.smwcentral.net\/image\/123972.png"],"rating":0,"size":251138,"downloads":331,"download_url":"https:\/\/dl.smwcentral.net\/42415\/Super%20Alex%20Demo.zip","obsoleted_by":null,"fields":{"version":"","changelog":"","difficulty":"Casual","type":"Standard","length":"7
        exit(s)","hof":"No","demo":"Yes","collab":"No","sa1":"No","warnings":"Crude
        Content or Language","description":"One night while a young lad by the name
        of Alex Rondo was walking back to his Grandmama''s house in the land of Skidmark
        Rows. He noticed the house was a little too quiet... dark... unordinary...
        all that was left in the abode was a note on the fridge. \"Dear Alex, someone
        broke in and ate the last plate of shrimp scampi. Go kick their ass.\" -Grandmama.
        Your mission is clear; you know what you must do..."},"raw_fields":{"version":"","changelog":"","difficulty":"diff_2","type":["standard"],"length":7,"hof":false,"demo":true,"collab":false,"sa1":false,"warnings":["crude_content"],"description":"One
        night while a young lad by the name of Alex Rondo was walking back to his
        Grandmama''s house in the land of Skidmark Rows. He noticed the house was
        a little too quiet... dark... unordinary... all that was left in the abode
        was a note on the fridge. \"Dear Alex, someone broke in and ate the last plate
        of shrimp scampi. Go kick their ass.\" -Grandmama. Your mission is clear;
        you know what you must do..."},"versions":[{"id":42415,"name":"Super Alex
        Demo","obsolete":false}]}'
    headers:
      Content-Type:
      - application/json
      X-RateLimit-Limit:
      - '2'
      X-RateLimit-Remaining:
      - '1'
    status:
      code: 200
      message: OK
version: 1
